!!!
%html{lang: @locale || 'en'}
  %head
    %title RailsReactTypescript
    =csrf_meta_tags
    =csp_meta_tag
    =stylesheet_link_tag "application", "data-turbo-track": "reload"
  %body
    .container.pt-6
      =yield
